.leaders
    max-width: rem-calc(1200)
    width: 100%
    thead
        color: black
    +breakpoint(xlarge)
        .table_main_teachers
            min-width: rem-calc(1500)
    +breakpoint(xxlarge)
        max-width: rem-calc(1500)

