.page
    color: black
    max-width: 1000px
    margin: 75px auto 400px
    box-shadow: 0px 0px 15px #999999
    position: relative
    padding: 20px
    height: 100%
    width: 100%
    +breakpoint(med-large)
        margin: 50px auto 400px

.page-text-header
    text-align: center 
    color: #FF0000 
    font-size: 16px 
    font-weight: bold

.page-text-subheader
    text-align: left
    li
        padding: 10px